<%= form_for reservation do |f| %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control form-control-lg", placeholder: "Name" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :phonenumber %>
      <%= f.text_field :phonenumber, class: "form-control form-control-lg", placeholder: "XXX-XXX-XXXX" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-auto">
      <%= f.label :date %>
      <%= f.date_field :date, class: "form-control form-control-lg" %>
    </div>
    <div class="form-group col-auto">
      <%= f.label :time, class: "d-block"%>
      <%= f.select(:time, hours_of_operation.unshift(nil), {}, { :class => 'form-control form-control-lg' }) %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-auto">
      <%= f.label :partysize %>
      <%= f.select(:partysize, (1..16).to_a.unshift(nil), {}, { :class => 'form-control form-control-lg' }) %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <%= f.label :notes %>
      <%= f.text_area :notes, class: "form-control form-control-lg" %>
    </div>
  </div>

  <%= f.submit class: "btn btn-primary mb-3" %>

<% end %>
